<div class="container mt-3">
	<h4>loading http拦截UI展示</h4>
	<p><span class="pl-3 ml-3"></span>该处并未涉及到 http 的内容，是纯UI功能的实现。本功能有 service、ngx-bootstrap中的modal、css、html一起完成，其借助于 ngx-bootstrap 的 modal 弹框完成</p>
	<hr>
    <p><span class="pl-3 ml-3 text-danger">http拦截器：</span>该http拦截器实现了展示文字，该文字可以自己定义，通过HttpHeaders传到拦截器上，拦截器接收文字后移除文字并克隆当前请求，这样就实现了传送文字在loading UI中展示，并且不会影响http请求</p>
    <hr>
    <p><span class="pl-3 ml-3">解决方案：</span>该http拦截由 service、组件、ngx-bootstrap/modal 一起完成</p>
    <hr>
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-sm btn-success" (click)="httpQuest()">展示loding</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-sm btn-success" (click)="httpPo1()">http post /api/vm/list</button>
		</div>
		<div class="col-sm-4">
			<button class="btn btn-sm btn-success" (click)="httpPo2()">http post /api/format</button>
		</div>
		
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4">
			<button class="btn btn-sm btn-success" (click)="httpPo3()">多个http需要拦截</button>
		</div>
	</div>
	<hr>
	<h4>http 拦截结果展示</h4>
	<p><span class="pl-3 ml-3"></span>http 拦截结果展示是通过 <a class="text-primary" href="https://codeseven.github.io/toastr/">toastr</a> 实现，在 angular 中使用 toastr 时，需要完成以下步骤：</p>
	<ol>
		<li class="text-info">npm install ngx-toastr --save</li>
		<li class="text-info">npm install @angular/animations --save</li>
		<li class="text-info">在 angular.json 文件下的 styles 属性中引入 "./node_modules/ngx-toastr/toastr.css"</li>
		<li class="text-info">在根模块中引入 BrowserAnimationsModule 和 ToastrModule，其分别来源于 '@angular/platform-browser/animations' 和 'ngx-toastr'，其中 ToastrModule 需要 forRoot() 一下</li>
		<li class="text-info">在需要提示信息的地方引入 ToastrService（来源于 'ngx-toastr'），使用该服务的方法展示提示信息</li>
		<li class="text-info">此时，看不到提示信息，因为此时的提示信息容器的透明度为100%，需要修改一下其透明度，在 style.css 中修改提示容器的样式</li>
	</ol>
</div>
