<div class="container mt-3">
    <h4>button按钮为disabled时tooltip</h4>
    <hr>
    <p>描述：bootstrap4 自带了 tooltip 的提示效果，但其存在一定的缺陷（1，若需要使用 tooltip 的dom是动态的，比如该dom是可以通过 ngIf 来控制其显示和移除，那么 bootstrap4 的提示效果就不起作用；2，若 tooltip 的内容有一定的布局，不只是一句话那么简单，bootstrap4 也实现不了），所以本处采用 ngx-bootstrap 的 TooltipModule 模块来实现 tooltip。</p>
    <hr>
    <p>需求：button 按钮为 disabled 禁用时，使用 tooltip 提示信息（该信息是 按钮 为什么被禁用），而且同一个按钮存在不同的禁用情况，需要使用 tooltip 展示不同禁用情况的不同提示信息。</p>
    <hr>
    <p>分析：</p>
    <div class="card">
        <div class="card-body">
            <h6>演示：</h6>
        </div>
    </div>
</div>