ul{margin:0;padding:0}
li{list-style:none} 
a{text-decoration:none;}

::-webkit-scrollbar {
    display: none;
}

/*div.console-nav{overflow-y: auto;overflow-x:hidden;}*/
div.console-nav{font:14px "微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;}
div.console-nav{width: 220px;height: 100%;background: #263238;transition: all .3s; position: fixed;}
div.console-nav a{display: block;overflow: hidden;padding-left: 20px;line-height: 46px;max-height: 46px;color: #ABB1B7;transition: all .3s;}

div.console-nav .nav-item>a:before{content: "";position: absolute;left: 0px;width: 2px;height: 46px;background: #34A0CE;opacity:0;transition: all .3s;}

div.console-nav a span{margin-left: 30px;}
div.console-nav .nav-item{position: relative;}
div.console-nav i.my-fa-flag{font-size: 22px;position: absolute;margin-left:-1px;line-height:46px;}

/*右边箭头处*/
.my-fa-more{float:right;margin-right: 20px;font-size: 12px;transition: transform .3s;line-height:46px;font-size:18px;}

div.console-nav .nav-item>ul{display: none;background: rgba(0,0,0,.1);}


/*hover 事件*/
.nav-item>a:hover{color: #FFF;background:rgba(0,0,0,.1);}
div.console-nav .nav-item li:hover a{color: #FFF;background: rgba(0, 0, 0,.1);}
div.console-nav .nav-item>a:hover:before{opacity:1;}

/*点击后样式*/
.nav-show{color: #FFF;background:rgba(0,0,0,.1);}
.nav-show .my-fa-more{transform:rotate(90deg);}
.nav-show>a:before{opacity:1!important;}

/*折叠所有*/
.nav-mini.console-nav{width: 60px;}
.nav-mini.console-nav .nav-item>a span{display: none;}
.nav-mini.console-nav .my-fa-more{margin-right: -20px;}
.nav-mini.console-nav .nav-item ul{position: absolute;top:0px;left:60px;width: 180px;z-index: 99;background:#3C474C;overflow: hidden;}
.nav-mini.console-nav .nav-item:hover ul{display: block;}
.nav-mini.console-nav .nav-item:hover a:before{opacity:1;}

