<div class="console-nav">
    <div class="nav-top">
 		<div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)">
 			<img src="/assets/images/mini.png" >
 		</div>
	</div>
	<ul>
		<li class="nav-item">
			<a href="javascript:;">
				<i class="my-fa-flag fa fa-cog"></i>
				<span>网站配置</span>
				<i class="my-fa-more fa fa-angle-right"></i>
			</a>
			<ul>
	        	<li><a href="javascript:;"><span>网站设置</span></a></li>
	            <li><a href="javascript:;"><span>友情链接</span></a></li>
	            <li><a href="javascript:;"><span>分类管理</span></a></li>
	            <li><a href="javascript:;"><span>系统日志</span></a></li>
	       	</ul>
	    </li>
	    <li class="nav-item">
	        <a href="javascript:;">
	        	<i class="my-fa-flag fa fa-book"></i>
	        	<span>文章管理</span>
	        	<i class="my-fa-more fa fa-angle-right"></i>
	        </a>
	        <ul>
	            <li><a href="javascript:;"><span>站内新闻</span></a></li>
	            <li><a href="javascript:;"><span>站内公告</span></a></li>
	            <li><a href="javascript:;"><span>登录日志</span></a></li>
	        </ul>
	    </li>
	    <li class="nav-item">
	        <a href="javascript:;">
	        	<i class="my-fa-flag fa fa-reorder"></i>
	        	<span>订单管理</span>
	        	<i class="my-fa-more fa fa-angle-right"></i></a>
	        <ul>
	            <li><a href="javascript:;"><span>订单列表</span></a></li>
	            <li><a href="javascript:;"><span>打个酱油</span></a></li>
	            <li><a href="javascript:;"><span>也打酱油</span></a></li>
	        </ul>
	    </li>
	</ul>
</div>
