<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p>内容：{{content}}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mr-2" (click)="close()">取消</button>
    <button type="button" class="btn btn-outline-success" (click)="ok()">确定</button>
</div>