<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <p>内容：{{content}}</p>
    <p>testValue：{{testValue}}</p>
    <p>当弹框为组件时，修改原组件传给弹框组件的值，原组件的值不会便</p>
    <button class="btn btn-sm btn-success" (click)="changT()">改变testValue的值</button>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary mr-2" (click)="close()">取消</button>
    <button type="button" class="btn btn-outline-success" (click)="ok()">确定</button>
</div>