<div class="container mt-3">
    <div class="mt-3">
        <a [routerLink]="['/']">首页</a>
    </div>
    <h4 class="mt-3">textarea高度自适应</h4>
    <hr>
    <p><span class="ml-3 pl-3"></span>实现textarea高度自适应的功能主要是使用了 <a target="_blank" href="http://npm.taobao.org/package/ngx-autosize" class="text-primary">ngx-autosize插件</a> 来完成，在该链接中有使用教程。在使用该插件的组件所在的模块中引入 <span class="text-danger">AutosizeModule</span> 模块</p>
    <div class="row">
        <div class="col-sm-4">
            <textarea [(ngModel)]="textValue" class="form-control" autosize rows="2"></textarea>
        </div>
    </div>
</div>