div.data-table-wrap {
    overflow-x: auto;
    position: relative;
}

div.overflowYAuto {
    overflow-y: auto;
}

#table-footer-extend div.dropdown-menu.show {
    min-width: 100% !important;
}

#table-footer-extend div.dropdown-menu.show a.dropdown-item {
    padding-left: 0;
    padding-right: 0;
}

#table-footer-extend .page-link:focus {
    box-shadow: none !important;
}

:host /deep/ div.data-table-wrap table {
    border: 0px;
    width: 100%;
    color: #212529;
    border-collapse:separate!important;
    border-spacing: 0px;
}

:host /deep/ div.data-table-wrap table th {
    border-bottom-width: 1px;
    background-color: #f1f1f1;
}

:host /deep/ div.data-table-wrap table thead.fixed-head tr th{
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 0;
}

:host /deep/ div.data-table-wrap table th,
:host /deep/ div.data-table-wrap table td {
    white-space: pre;
    padding: 8px 12px;
    border-bottom: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

:host /deep/ div.data-table-wrap table tr td:first-child,
:host /deep/ div.data-table-wrap table tr th:first-child {
    border-left: 0px;
}

:host /deep/ div.data-table-wrap table tr th.sticky,
:host /deep/ div.data-table-wrap table tr td.sticky {
    position: -webkit-sticky!important;
    position: sticky!important;
    z-index: 1;
}

:host /deep/ div.data-table-wrap table tr td.sticky {
    background: white;
}

:host /deep/ div.data-table-wrap table tr th.left-box-show,
:host /deep/ div.data-table-wrap table tr td.left-box-show {
    box-shadow: 6px 0px 6px 0px rgba(0, 0, 0, 0.1)!important;
    border-right: 1px solid #dee2e6;
}

:host /deep/ div.data-table-wrap table tr th.right-box-show,
:host /deep/ div.data-table-wrap table tr td.right-box-show {
    box-shadow: -6px 0px 6px 0px rgba(0, 0, 0, .1)!important;
}
