<div class="container mt-3">
    <h4>远程加载数据</h4>
    <ol class="breadcrumb">
	  <li class="breadcrumb-item"><a routerLink="/">首页</a></li>
	  <li class="breadcrumb-item"><a routerLink="/demo/table">演示</a></li>
	  <li class="breadcrumb-item active">描述</li>
	</ol>
    <div class="row">
	    <div class="col-sm-6 border">
			<p class="mt-3">功能：<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;显示总数据条数<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页面基本分页<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改变页面的数据的条数<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索数据以分页<br></p>
			<hr>
			<p class="mt-3">分析：<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;改变每页条数时从第一页开始显示<br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;做搜索数据时从第一页开始显示 <br>
			</p>
		</div>
	</div>
</div>