/* You can add global styles to this file, and also import other style files */
@import'~font-awesome/css/font-awesome.css';

/* 全局样式 */
.line31{line-height: 31px;}

a[disabled="true"]{opacity: 0.65;}
a[disabled="true"]：focus{background: none;}
a[disabled="true"]:hover{cursor: default!important;pointer-events: auto;}
a.btn-success[disabled="true"]:hover{background-color: #28a745;border-color: #28a745 }

/*loading ui 自定义*/ 
.loading-ui-wrap{min-height: calc(100% - (1.75rem * 2));align-items: center;display: flex;max-width: 220px;}
/*.loading-ui-wrap div.modal-content{opacity: 0.9;}*/
.loading-ui-wrap div.modal-content{background-color: #f2f2f2;}