<div class="container mt-3">
    <div class="mt-3">
        <a [routerLink]="['/']">首页</a>
    </div>
    <h4 class="mt-3">路由跳转loading</h4>
    <hr>
    <p><span class="ml-3 pl-3"></span>实现路由跳转加载进度条的功能主要是使用了 <a target="_blank" href="http://npm.taobao.org/package/ngx-progressbar-rj" class="text-primary">@ngx-progressbar/core 和 @ngx-progressbar/router</a> 来完成，在该链接中有使用教程。在项目中的根模块中引入 <span class="text-danger">NgProgressModule</span>        模块和 <span class="text-danger">NgProgressRouterModule</span> 模块，然后在根组件中加入相应的配置</p>
</div>